{% extends "base.html" %}

{% block head %}
<title>Grupos</title>
{% endblock %}

{% block body %}
<main>
    <div class="p-5 mb-4 bg-light rounded-3 models">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">GRUPOS PARA EL TRABAJO FINAL</h1>
        </div>
    </div>
    <form action="/" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ingrese el nombre de usuario" aria-label="Ingrese el nombre de usuario" aria-describedby="basic-addon2" name="user" id="user" value="nosoyuncorreo">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">@unal.edu.co</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Consultar grupo</button>
    </form>
        {% if group_id != '' %}
        <div class="container-fluid py-5">
            <h1 class="display-6 fw-bold">INTEGRANTES GRUPO {{ group_id }}</h1>
        </div>
        {% endif %}
    <table class="table table-dark">
        <tbody>
        {% for item in group_members %}
            <tr><td>{{ item }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}